In [1]:
# else function in for loop

def find(seq, target):
    """
    This to demonstrate the 'else' function in a for loop. 
    Using 'else' in for loop to do an action if there was
    no break found in the loop.

    """
    for i, value in enumerate(seq):
        if value == target:
            break
    else:
        return -1

    return i

## DICTIONARY AND DEFAULTDICT

In [3]:
# LOOPING OVER DICTIONARY KEYS AND DELETE KEYS WITH CRITERIA

d = {'a': 1, 'a3': 3, 'b': 4, 'r4':5}
# instead of looping over each keys and delete items
d = {k: d[k] for k in d if not k.startswith('r')}

d

{'a': 1, 'a3': 3, 'b': 4}

In [5]:
# COUNTING WITH DICTIONARY

from collections import defaultdict
colors = ['red', 'green', 'blue', 'blue', 'red', 'red']
d = {}

# First method
for color in colors:
    d[color] = d.get(color, 0) + 1

# Using default dict:
d = defaultdict(int)

for color in colors:
    d[color] += 1  # If color is not exists yet,
    
d

defaultdict(int, {'red': 3, 'green': 1, 'blue': 2})

In [ ]:
# GROUPING WITH DICTIONARY
colors = ['red', 'green', 'blue', 'blue', 'red', 'red']
d = defaultdict(list)
for color in colors:
    key = len(color)
    d[key].append(color)

In [6]:
# DICTIONARY POPITEM

# returns an arbitrary element (key, value) pair from the dictionary
# removes an arbitrary element (the same element which is returned) from the dictionary.

person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

result = person.popitem()
print('person = ', person)
print('Return Value = ', result)

person =  {'name': 'Phill', 'age': 22}
Return Value =  ('salary', 3500.0)

## DATE & TIME

In [ ]:
# CONVERT TIMESTAMP FROM UTC TO OTHER TIMEZONE 

def convert_time_from_utc(timestamp, to_time_zone='Australia/Melbourne', output_format=None):
    """
    Convert utc timestamp to other timestamp

    Args:
        timestamp: datetime object or string present datetime.
                    if the input is string it must follow 'YYYY-MM-DD HH:MM:SS'

        to_time_zone: to the desire timezone
        output_format: 'datetime' or string format of time
                    If set as None, then function return exactly the same type as input.

    Returns:
        datetime object or string presenting datetime in new time zone
    """

    if output_format is None:
        if type(timestamp) is str:
            output_format = 'str'
            timestamp = datetime.strptime(timestamp, '%Y-%m-%d %H:%M:%S')
        elif (type(timestamp) is datetime) or (type(timestamp) is datetime.datetime):
            output_format = 'datetime'
        else:
            raise ValueError(
                'input timestamp must either string YYYY-MM-DD HH:MM:SS or a datetime object')

    utc_tz = tz.gettz('UTC')
    to_tz = tz.gettz(to_time_zone)

    output = timestamp.replace(tzinfo=utc_tz)
    output = output.astimezone(to_tz)

    if output_format == 'datetime':
        return output
    elif output_format == 'str':
        return datetime.strftime(output, '%Y-%m-%d %H:%M:%S')
    else:
        return datetime.strftime(output, output_format)

### Timestamp

In [7]:
# EPOCH: timestamp from 1/1/1970
import time

time.time()

1565014626.918981

In [10]:
from datetime import datetime
dtnow = datetime.fromtimestamp(time.time())
dtnow

datetime.datetime(2019, 8, 6, 0, 18, 18, 455068)

In [13]:
dtnow.year, dtnow.month, dtnow.hour

(2019, 8, 0)

### UTC

In [15]:
# GET TODAY DATE IN UTC TIME ZONE
from datetime import datetime, timezone, timedelta

datetime.now(timezone.utc)

datetime.datetime(2019, 8, 5, 14, 19, 53, 799258, tzinfo=datetime.timezone.utc)

In [16]:
# 5 days before current time:
datetime.today() + timedelta(days=-5)

datetime.datetime(2019, 8, 1, 0, 20, 12, 154164)